*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #1d1d1d;
  color: #fff;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}
.box1 {
  border-radius: 10px;
  font-size: 1.2em;
  background-color: red;
  text-align: left;
  width: 220px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 10px 4px rgba(165, 93, 93, 0.75);
}
.box1 li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  width: 150px;
}

.box2 {
  border-radius: 10px;
  font-size: 4em;
  background-color: red;
  text-align: left;
  width: 140px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
