*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #1d1d1d;
  color: #fff;
}
a {
  color: white;
}
.box1 {
  border-radius: 10px;
  font-size: 1.2em;
  background-color: red;
  text-align: left;
  width: 140px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box2 {
  border-radius: 10px;
  font-size: 4em;
  background-color: red;
  text-align: left;
  width: 140px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
