:root {
  --bs-primary-rgb: 248, 77, 10; /*! NAV Background Color */
  --bs-body-bg: #1d1c1c;
}
.resume-image {
  width: 100%;
  height: 100%;
  border: 0.5rem solid rgb(249, 3, 3);
}
h1 {
  color: #f4f6f9;
}
h2 {
  color: #646465;
}
h3 {
  color: #d12908;
}
h4 {
}
p {
  color: #b3b3b3;
}
.subheading {
  color: #bdbdbd;
}
